name: Go Matrix

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  cross:
    name: Go Build
    runs-on: ${{ matrix.os }}
    env:
      CGO_ENABLED: 0
        
    strategy:
      matrix:
        go-version: [ stable, oldstable ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: '${{ matrix.go-version }}'
      - name: Build
        run: go build -v -ldflags '-s -w' -trimpath
